<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Saisie du client</title>
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/css/mystyle.css"
          th:href="@{/css/mystyle.css}"/>
</head>
<body>
<!-- Lister les saisons -->
<div class="container spacer">
    <a th:href="@{index}">Retour</a>
</div>
<!-- Formulaire de saisie d'une journée -->
<div class="col-md-6 col-sm-6 col-xs-12 spacer col-md-offset-3">
    <div class="panel panel-default">
        <div class="panel-heading">Modifier le statut</div>
        <div class="panel-body">
            <form method="post" th:action="changeStatut">
                <div class="form-group">
                    <div class="form-group">
                        <input type="number" name="matchId" id="matchId" th:value="${matchId}" hidden="hidden">
                        <label class="control-label" for="statut">Statut du match:</label>
                        <select name="statut" id="statut">
                            <option th:value="started">started</option>
                            <option th:value="ended">ended</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Valider</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>